gql==3.5.0
openai==1.45.0
flask==3.0.2
pytz==2024.1
bcrypt==3.2.2
pymongo==4.8.0
pipenv==2024.0.1
urllib3==1.26.6
aws-wsgi==0.2.7
requests==2.32.3
flask-cors==4.0.0
google-auth==2.31.0
slack-sdk==3.33.1
cryptography==3.4.8
firebase-admin==6.5.0
flask-restful==0.3.10
requests-aws4auth==1.2.3
requests-toolbelt==1.0.0
flask-jwt-extended==4.6.0