[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "2024.2"
requests = "2.32.3"
openai = "1.51.0"
pymongo = "4.10.1"
urllib3 = "1.26.6"

[dev-packages]

[requires]
python_version = "3.8"
