[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aws-wsgi = "0.2.7"
bcrypt = "4.2.0"
cryptography = "3.4.8"
flask = "3.0.2"
flask-cors = "4.0.0"
flask-jwt-extended = "4.6.0"
flask-restful = "0.3.10"
pymongo = "4.8.0"
requests = "2.32.3"
pytz = "2024.1"
urllib3 = "1.26.6"
pipenv="2024.0.1"
google-auth="2.31.0"
gql="3.5.0"
requests-aws4auth="1.2.3"
requests-toolbelt="1.0.0"

[requires]
python_version = "3.8"
