[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytz = "2024.2"
flask = "3.0.2"
pandas = "2.0.3"
pymongo = "4.8.0"
aws-wsgi = "0.2.7"
urllib3 = "1.26.6"
pipenv = "2024.0.1"
requests = "2.32.3"
flask-cors = "4.0.0"
flask-restful = "0.3.10"
flask-jwt-extended = "4.6.0"

[requires]
python_version = "3.8"
